<ion-header-bar class="bar-stable nav-title-slide-ios7" align-title="center">
    <button class="button button-clear button-assertive button-back" back>
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">我的无忧券</h1>
    <!-- <button class="button button-clear button-assertive" ui-sref="couponExp">使用规则</button> -->
</ion-header-bar>
<ion-content class='coupons' scroll="true" lazy-scroll>
	<ion-list>
        <ion-item class="item couBox" ng-repeat='coupon in couponInfo'>
        	<div class="couContent">
        		<span class='top'></span>
                <span class='left'></span>
        		<div class='money'>￥{{coupon.coupon.discount}}</div>
        		<div class='info'>
        			<h4><span>{{coupon.coupon.remark}}</span></h4>
        			<p>使用条件：<span class="condition">{{coupon.coupon.description}}</span></p>
        			<p>{{coupon.start | date:'yyyy-MM-dd'}}至{{coupon.end | date:'yyyy-MM-dd'}}</p>
                    <ion-checkbox ng-model="coupon.chosen" class='checkBox' ng-change="toggle(coupon);calculateTotal();checkChosen();"></ion-checkbox>
        		</div>
        	</div>
	    </ion-item>
	</ion-list>
</ion-content>
<ion-footer-bar class="bar bar-footer bar-stable">
	<div class="myFooter">
		<button class="button couBtn button-small button-assertive" id="myCouBtn" ng-click="submitCoupon()">确定</button>
	</div>
</ion-footer-bar>