<ion-header-bar class="bar-stable nav-title-slide-ios7" align-title="center">
    <button class="button button-clear button-assertive button-back" ui-sref="settings">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">修改密码</h1>
</ion-header-bar>

<ion-content scroll="false" id="modify-password">
	<form name="modifyPwdForm" rol="form" novalidate>
		<ion-list class="list">
			<label class="item item-input border-top-none border-bottom-none">
				<span class="input-label">原密码</span>
				<input type="password" placeholder="请输入原密码" ng-model="user.password" required/>
			</label>
			<label class="item item-input border-bottom-none">
				<span class="input-label">新密码</span>
				<input type="password" placeholder="请输入新密码" ng-model="user.newPassword" required/>
			</label>
			<label class="item item-input border-bottom-none">
				<span class="input-label">确认密码</span>
				<input type="password" placeholder="请再次输入新密码" ng-model="user.repeatPassword" required/>
			</label>
		</ion-list>
		<div class="padding">
	        <button class="button button-block button-light button-modify" ng-disabled="modifyPwdForm.$invalid" ng-click="modifyPassword(user)">修改</button>
	    </div>
	</form>
</ion-content>