<ion-header-bar class="bar-stable nav-title-slide-ios7" align-title="center">
    <button class="button button-clear button-assertive button-back" ui-sref="main.profile">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">找回密码</h1>
</ion-header-bar>

<ion-content id="check-code">
    <div ng-hide="codeChecked">
        <div class="list list-inset" style="margin-bottom: 10px;">
            <label class="item item-input" style="width:70%;display:inline-block;border-radius: 3px;">
                <input type="tel" ng-model="form.telephone" placeholder="输入手机号" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </label>
            <button class="button button-light button-small ask-code-button" ng-click="askCode(form.telephone)" ng-disabled="buttonDisabled">{{codeStatus}}</button>
            <label class="item item-input" style="margin-top:10px;border-radius: 3px;">
                <input type="text" ng-model="form.code" placeholder="输入验证码">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-light button-next" ng-click="checkCode(form.telephone, form.code)">下一步</button>
        </div>
    </div>

    <div ng-show="codeChecked">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">输入新密码：</span>
                <input type="password" ng-model="form.password" placeholder="6-12位英文/数字/符号">
            </label>
            <label class="item item-input">
                <span class="input-label">再次输入密码：</span>
                <input type="password" ng-model="form.repeatPassword">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-light button-next" ng-click="resetPassword(form.telephone, form.code, form.password, form.repeatPassword)">提交</button>
        </div>
    </div>
</ion-content>
