<ion-header-bar class="bar-stable nav-title-slide-ios7" align-title="center" ng-class="{'item-input-inset': isSearch}">
    <button class="button button-clear button-assertive" ng-click="back()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <p ng-if="isSearch">&nbsp;&nbsp;</p>

    <div ng-if="category != null" id="productSearch">
       <span ng-click="showCategories.show()" class="h1 title" id="productTitle">
            {{category.name}}<div ng-class="{false:'mirror-select-icon-down',true:'mirror-select-icon-up'}[showCategories.isShown()]"></div>
       </span>
    </div>
    <span class="item-input-wrapper" ng-if="isSearch" ui-sref="keyword-search({queryWords:criteria.name})">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <span class="product-search-word">{{criteria.name ? criteria.name : "搜索调料、食材"}}</span>
    </span>
    <button class="searchIcon button button-clear button-assertive" ui-sref="keyword-search" ng-if="isSearch === false">
        <i class="icon ion-ios-search" id="search-product"></i>
    </button>
    <button id='carBtn' class="button icon ion-ios-cart-outline badge" ng-click="gotoCart()">
        <div>{{orderItemsCount}}</div>
    </button>
</ion-header-bar>

<div class="bar bar-subheader mirror-bar">
    <div class="button-bar buttonBar">
        <a class="button button-light button-android mirror-button-item" ng-click="resort('marketPrice')"
           ng-class="{ 'mirror-orderStatus':sortBtnClass == 'marketPrice'}">
            <div class="bar-text" style="line-height: 44px;">价格</div>
            <div class="mirror-price-status"
                 ng-class="{false:'mirror-desc',true:'mirror-asc'}[criteria.sortDirection == 'asc']"></div>
        </a>
        <a class="button button-light button-android mirror-button-item" ng-click="resort('salesCount')"
           ng-class="{ 'mirror-orderStatus':sortBtnClass == 'salesCount'}"><span
                ng-class="{true:'saleShow',false:'saleUnshow'}[status]">销量优先</span></a>
        <a class="button button-light button-android mirror-button-item" ng-click="showBrands.show()">
            <div class="bar-text" style="line-height: 44px;">品牌筛选</div>
            <div ng-class="{false:'mirror-brand-status',true:'mirror-brand-statusTwo'}[showBrands.isShown()]"></div>
        </a>
    </div>
</div>

<div id='customToast' class='hide'>添加成功</div>
<div id='find' class='hide'></div>

<ion-content id='searchText' scroll="true" class="has-subheader has-bottom">
    <ion-list can-swipe="true" id="product-list">
        <!--<ion-item class="search-total border-top-none" style="font-size: 14px;">为您找到相关商品约{{total}}个</ion-item>-->
        <ion-item id="btnBox" collection-repeat="sku in skusDisplayed" class="item item-thumbnail-left">
            <img ng-click="productDetail(sku.id,sku.favoriteStatus)" class="productImg" ng-src="{{sku.mediaFileUrls[0]}}" style="top: 22%;"/>
             <span ng-if="sku.showLogo" id="circle">
                暂无货
            </span>
             <span class="miaoProduct" ng-if="sku.miaoshaStatus">秒杀</span>
            <h2 ng-click="productDetail(sku.id,sku.favoriteStatus)" style="margin:0 0 0 6px">{{sku.name}}</h2>
            <div id="especially">{{sku.specialDetail}}</div>

            <h3 style="margin:1px 0 0 6px">
                <div style="height: 30px;">
                    <div class="product-checkBox" ng-if="sku.b">
                        <div class="checkBox" style="height: 30px;display: inline-block;" ng-if="sku.s && profile==true"
                             ng-click="oneChange(sku.id,sku.bundleName,sku.c,sku.d)">
                            <ion-checkbox ng-model="sku.c"></ion-checkbox>
                        </div>
                        <span class="product-danpinjia" style="font-size: 14px;"
                              ng-class="{true:'show',false:'bundleShow'}[sku.s && profile ]"><span ng-if="sku.s">打包价:</span>
                            <font style="color: #eb2927" ng-if="profile==true">{{sku.bundlePrice.bundleSalePrice | currency : "￥"}}</font><span ng-if="profile==true">/{{sku.bundleUnit}}</span>
                             <span class="" ng-if="profile==false" style="font-size: 14px;color: #eb2828;"><span ng-if="sku.jiage" style="color: #6e6e6e;">价格:</span>登录后可见</span>
                        </span>&nbsp;

                    </div>
                </div>
                <div style="height: 30px;">
                    <div class="product-checkBox" ng-if="sku.s ">
                        <div class="checkBox" style="height: 30px;display: inline-block;" ng-if="sku.b && profile==true"
                             ng-click="oneChange(sku.id,sku.singleName,sku.c,sku.d)">
                            <ion-checkbox ng-model="sku.d"></ion-checkbox>
                        </div>
                        <span class="product-danpinjia" style="font-size: 14px;" ng-class="{true:'show',false:'unshow'}[sku.b && profile]"><span ng-if="sku.b">单品价:</span>
                            <font style="color: #eb2927" ng-if="profile==true">{{sku.singlePrice.singleSalePrice | currency : "￥"}}</font><span ng-if="profile==true">/{{sku.singleUnit}}</span>
                            <span class="" ng-if="profile==false" style="font-size: 14px; color: #f09400;"><span ng-if="sku.jiage" style="color: #6e6e6e;">价格:</span>登录后可见</span>
                        </span>&nbsp;

                    </div>
                </div>
            </h3>
            <div class="btnBox" style="margin: 3px 0 0 6px;border-color: #e2e2e2">
                <a class="button button-small button-outline button-dark button-icon icon ion-ios-minus-empty mirror-number-button minus-btn-left"
                   ng-click="lessQuantity(sku)" ng-disabled="sku.quantity==1" id="reduces"></a>
                <a class="num">{{sku.quantity}}</a>
                <a class="button button-small button-outline button-dark button-icon icon ion-ios-plus-empty mirror-number-button minus-btn-right"
                   ng-click="moreQuantity(sku)" id="add"></a>

                <div id="favorite" >
                    <span ng-class="{true:'favorited',false:'favorite'}[sku.favoriteStatus]" ng-click="markFavorite(sku)"></span>
                </div>


                <div id="gouwuche">
                    <span ng-click="addSkuIntoCart(sku, sku.quantity,sku.c);" class="cart" ng-if="sku.showLogo==false"></span>
                    <span ng-if="sku.showLogo" class="msCart"></span>
                </div>
                <!--<button ng-if="sku.stock <= 0" class="button button-small button-stable mirror-button-joincar">暂时无库存</button>-->
            </div>
            <!--<ion-option-button class="button-assertive mirror-button-collect" ng-click="markFavorite(sku)">-->
                <!--<div id="collect-text">收藏</div>-->
            <!--</ion-option-button>-->
        </ion-item>
    </ion-list>

    <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadMore()"
            distance="5%"
            icon="ion-load-d">
    </ion-infinite-scroll>

    <div class="bottom" ng-if="to==true">
        <div class="new" ui-sref="new-product-feedback">
            <div style="width: 115px;">
                <span class="addIcon"></span>
                <span class="fankui">反馈商品</span>
            </div>
        </div>
    </div>
</ion-content>

<div ng-if="to==false" class="null">
    <div id="searchNull">
        <div class="fangdajing">
            <div>
                <span class="fdj"></span>
            </div>
            <p id="searchP">没有搜索到商品哦</p>
        </div>
    </div>
    <div id="bottomBox">
        <div class="bottom">
            <div class="new" ui-sref="new-product-feedback">
                <div style="width: 115px;">
                    <span class="addIcon"></span>
                    <span class="fankui">反馈商品</span>
                </div>

            </div>
        </div>
    </div>

</div>


<div class="mirror-collect-lead" ng-click="closeFavoriteGuide()" ng-if="showFavoriteGuide"></div>

<script id="templates/brandPopover.html" type="text/ng-template">
    <div id="product-brand-popover">
        <ion-popover-view>
            <ion-content>
                <ion-list>
                    <ion-item ng-class="{'brand-selected': brand.id == brandSelectedId}"
                              ng-repeat="brand in brands | unique : 'id'" ng-click="selectBrand(brand.id)">
                        {{brand.brandName}}
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-popover-view>
    </div>
</script>


<script id="templates/categoryPopover.html" type="text/ng-template">
    <div id="product-category-popover">
        <ion-popover-view>
            <ion-content>
                <ion-list>
                    <ion-item ng-class="{'brand-selected': category.id == categorySelectedId}"
                              ng-repeat="category in siblingCategories" ng-click="selectCategory(category)">
                        {{category.name}}
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-popover-view>
    </div>
</script>
