<ion-header-bar class="bar-stable nav-title-slide-ios7" align-title="center">
    <button class="button button-clear button-assertive" ng-click="back()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">商品详情</h1>
    <button id='carBtn' class="button icon ion-ios-cart-outline badge" ng-click="gotoCart()">
        <div>{{orderItemsCount}}</div>
    </button>
</ion-header-bar>
<div id='customToast' class='hide'>添加成功</div>
<ion-content class="product" scroll="true" direction="y">

    <ion-slide-box style="background-color: #fff;" on-slide-changed="slideHasChanged($index)" id="productDetaiLunbo"
                   ng-if="data.sku.mediaFileUrls && data.sku.mediaFileUrls.length >0 ">
        <ion-slide ng-repeat="mediaFileUrl in data.sku.mediaFileUrls">
            <div class="product-img"><img src="{{mediaFileUrl}}" style="height: 150px;"
                                          ng-click="shouBigImage(mediaFileUrl)"></div>
        </ion-slide>
    </ion-slide-box>

    <!--<ion-item>
        <div class="product-img"><img src="{{product.mediaFileUrls[0]}}" style="height: 150px;" ng-click="shouBigImage(product.mediaFileUrls[0])"></div>
    </ion-item>-->

    <ion-item id="shouPrice">
        <h2 id="product-h2">{{data.sku.name}}</h2>
        <p ng-if="data.bundle == true">
            <span class="showPrice" >打包价:</span><font style="color: #eb2927">{{data.price |
            currency : "￥"}}</font>/{{data.unit}}</span>
        </p>
        <p ng-if="data.bundle == false">
            <span class="showPrice" >单品价:</span><font style="color: #eb2927">{{data.price |
            currency : "￥"}}</font>/{{data.unit}}</span>
        </p>
        <span class="xianGou">每个账户限购{{data.perMaxNum}}件</span>
    </ion-item>
    <ion-item class="product-remark" ng-if="product.propertyMap.details">
        <h2>备注说明</h2>
        <pre class="product-others" style="color: #000">
            {{product.propertyMap.details}}</pre>
    </ion-item>
    <ion-item id="product-detail">
        <h2>商品详情</h2>
        <ul class="ul-one">
            <li ng-if="data.sku.brand.brandName">品牌：{{data.sku.brand.brandName}}</li>
            <li ng-if="data.sku.propertyMap.specification">规格：{{data.sku.propertyMap.specification}}</li>
            <li ng-if="data.sku.propertyMap.unit">包装：{{data.sku.propertyMap.unit}}</li>
            <li ng-if="data.sku.propertyMap.gross_wight">大箱包装：{{data.sku.propertyMap.gross_wight}}</li>
            <li ng-if="data.sku.propertyMap.shelf_life && data.sku.propertyMap.shelf_life!=0 ">
                保质期：{{data.sku.propertyMap.shelf_life}}
            </li>
            <li ng-if="data.sku.propertyMap.origin">产地：{{data.sku.propertyMap.origin}}</li>
            <li ng-if="data.sku.propertyMap.net_weight">净重：{{data.sku.propertyMap.net_weight}}</li>
        </ul>
        <p>
            <span ng-if="data.sku.propertyMap.executive_standard">产品执行标准：{{data.sku.propertyMap.executive_standard}}</span>
        </p>

        <p>
            <span ng-if="data.sku.propertyMap.save_condition">保存条件：{{data.sku.propertyMap.save_condition}}</span>
        </p>

        <p>
            <span ng-if="data.sku.propertyMap.create_company">生产商：{{data.sku.propertyMap.create_company}}</span>
        </p>

        <p>
            <span ng-if="data.sku.propertyMap.licence">生产许可证：{{data.sku.propertyMap.licence}}</span>
        </p>

        <p class="custom product-others product-font" ng-if="data.sku.propertyMap.ingredient">
            配料:&nbsp; {{data.sku.propertyMap.ingredient}}
        </p>
    </ion-item>
</ion-content>

<div id="rightDisplay" ng-show="bigImage" class="popover-backdrop"
     style="position: fixed;top: 0;left: 0;z-index: 10; width: 100%;height: 100%;background: #000;"
     ng-click="hideBigImage()">
    <img class="img-responsive" ng-show="bigImage"
         style="position: absolute;top: 10%;left: 50%;z-index: 10;display: block;margin-top: 18px;
         margin-left: -165px;height: 420px;width: 330px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);"
         src="{{bigUrl}}"/>
</div>

<ion-footer-bar id="product-Box" style="border-top: none">
    <div id="product-cart">
        <button class="button button-small button-assertive product-add product"
                style="background-color: #eb2927;font-size: 14px;" ng-click="productCartPopover.show();">添加到购物车
        </button>
    </div>
    <div id="changgouqingdan" ng-click="markFavorite()" id="product-button">
        <button class="button button-small button-assertive product-add"
                style="background-color: #f78d00;font-size: 14px;border-color: #f78d00"
                ng-click="markFavorite();">加入常购清单
        </button>
    </div>
</ion-footer-bar>

<script id="templates/productCartPopover.html" type="text/ng-template">
    <div id="product-cart-popover">
        <ion-popover-view>
            <ion-content style="height: 320px;">
                <div id="productCartPop" ng-if="data.num-data.takeNum>0 && data.spikeActiveStatus==2">
                    <ion-list>
                        <ion-item>
                            <span class="title">{{data.sku.name}}</span>

                            <div id="close" ng-click="productCartPopover.hide()">
                                <i class="icon" id="detail-close">
                                    <span class="close"></span>
                                </i>
                            </div>
                        </ion-item>
                        <ion-item style="height: 83px;" id="msProductDetail">
                            <p ng-if="data.bundle == true">
                                <span class="showPrice" >打包价:</span><font style="color: #eb2927">{{data.price |
                                currency : "￥"}}</font>/{{data.unit}}</span>
                            </p>
                            <p ng-if="data.bundle == false">
                                <span class="showPrice" >单品价:</span><font style="color: #eb2927">{{data.price |
                                currency : "￥"}}</font>/{{data.unit}}</span>
                            </p>
                            <span class="xianGou">每个账户限购{{data.perMaxNum}}件</span>
                        </ion-item>

                        <ion-item style="height: 60px;">
                            <span class="buyNumber">购买数量</span>

                            <div class="addNumber">
                                <a class="button button-small button-outline button-dark button-icon icon ion-ios-minus-empty product-small minus-btn-left"
                                   ng-click="lessQuantity(data)" ng-disabled="data.quantity==1"
                                   id="product-detail-red"></a>
                                <a id="product-detail-number">{{data.quantity}}</a>
                                <a class="button button-small button-outline button-dark button-icon icon ion-ios-plus-empty product-small minus-btn-right"
                                   ng-click="moreQuantity(data)" id="product-detail-add"></a>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                <div id="productDetailNotice" ng-if="data.num-data.takeNum<=0 || data.spikeActiveStatus!=2">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="notice">
                        亲，抱歉！当前产品已经抢光了,或者已经过期了！
                    </span>

                    <div id="msProductClose" ng-if="data.num-data.takeNum<=0 ||data.spikeActiveStatus!=2">
                        <button class="button button-small button-assertive product-add"
                                ng-click="productCartPopover.hide()">确定
                        </button>
                    </div>
                </div>
                <div id="msproductDetailBtn" class="msProductDetailBtn" ng-if="data.num-data.takeNum>0 && data.spikeActiveStatus==2">
                    <button class="button button-small button-assertive product-add"
                            ng-click="addSkuIntoCart(data);">确定
                    </button>
                </div>
            </ion-content>
        </ion-popover-view>
    </div>
</script>